@model ProjectArcive_DIU.Models.ProjectViewModel
@{
    ViewBag.Title = "Add Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-6">

            <h4>Add Project</h4>

            @*.....................................................................*@
            @using (Html.BeginForm("Add", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="from-group">

                    @Html.LabelFor(c => c.Title, new{style="color:blue;"})
                    <input type="text" class="form-control form-control-user" id="Title" placeholder="Project title" name="Title">
                    @Html.ValidationMessageFor(c => c.Title, "", new { @class = "text-danger"})
                </div>
                <br />
                <div class="from-group">
                    @Html.LabelFor(c => c.Type, new { style = "color:blue;" })

                    <select class="form-control form-control-user" id="Type" name="Type">
                        <option value="Web">Web</option>
                        <option value="Android">Android</option>
                        <option value="Desktop">Desktop</option>
                        <option value="Embedded System">Embedded System</option>
                        <option value="Networking">Networking</option>
                        <option value="IOS">IOS</option>
                        <option value="Game">Game</option>
                        <option value="Thesis">Thesis</option>
                    </select>

                    @Html.ValidationMessageFor(c => c.Type, "", new { @class = "text-danger" })

                </div> <br />
                <div class="from-group">
                    @Html.LabelFor(c => c.SubmittedBy, new { style = "color:blue;" })
                    <input type="text" class="form-control form-control-user" id="SubmittedBy" placeholder="ID who submitting" name="SubmittedBy">
                    @Html.ValidationMessageFor(c => c.SubmittedBy, "", new { @class = "text-danger" })

                </div> <br />
                <div class="from-group">
                    @Html.LabelFor(c => c.SupervisedBy, new { style = "color:blue;" })
                    <input type="text" class="form-control form-control-user" id="SupervisedBy" placeholder="Supervisor name" name="SupervisedBy">
                    @Html.ValidationMessageFor(c => c.SupervisedBy, "", new { @class = "text-danger" })

                </div> <br />
                <div class="from-group">
                    @Html.LabelFor(c => c.TeamSize, new { style = "color:blue;" })
                    <input type="text" class="form-control form-control-user" id="TeamSize" placeholder="Total teammates" name="TeamSize">
                    @Html.ValidationMessageFor(c => c.TeamSize, "", new { @class = "text-danger" })

                </div> <br />
                <div class="from-group">
                    @Html.LabelFor(c => c.Semester, new { style = "color:blue;" })
                    <select class="form-control form-control-user" id="Semester" name="Semester">
                        <option value="Spring 2020">Spring 2020</option>
                        <option value="Summer 2020">Summer 2020</option>
                        <option value="Fall 2020">Fall 2020</option>
                        <option value="Spring 2021">Spring 2021</option>
                        <option value="Summer 2021">Summer 2021</option>
                        <option value="Fall 2021">Fall 2021</option>
                    </select>
                    @Html.ValidationMessageFor(c => c.Semester, "", new { @class = "text-danger" })

                </div> <br />
                <div class="from-group">
                    @Html.LabelFor(c => c.Level, new { style = "color:blue;" })
                    <select class="form-control form-control-user" id="Level" name="Level">
                        <option value="B.Sc">B.Sc</option>
                        <option value="M.Sc">M.Sc</option>

                    </select>
                    @Html.ValidationMessageFor(c => c.Level, "", new { @class = "text-danger" })

                </div> <br />
                <div class="from-group">
                    @Html.LabelFor(c => c.Description, new { style = "color:blue;" })
                    <textarea type="text" class="form-control form-control-user" id="Description" placeholder="Project Description" name="Description" rows="4"></textarea>
                    @Html.ValidationMessageFor(c => c.Description, "", new { @class = "text-danger" })

                </div> <br />

                <div class="from-group">
                    @Html.LabelFor(c => c.Technology, new { style = "color:blue;" })
                    <textarea type="text" class="form-control form-control-user" id="Technology" placeholder="ex: C, C#, Java, Html, Bootstrap, Javascript" name="Technology" rows="3"></textarea>
                    @Html.ValidationMessageFor(c => c.Technology, "", new { @class = "text-danger" })

                </div> <br />
                <div class="from-group">
                    @Html.LabelFor(c => c.Screenshot, new { style = "color:blue;" })
                    <input type="text" class="form-control form-control-user" id="Screenshot" placeholder="Screenshot link" name="Screenshot">
                    @Html.ValidationMessageFor(c => c.Screenshot, "", new { @class = "text-danger" })
                </div> <br />

                <div class="from-group">
                    @Html.LabelFor(c => c.Image)


                    <input type="file" id="Image" name="Image" style="width: 100%;   />

                </div> <br />
                <div class="from-group">
                    @Html.LabelFor(c => c.Github, new { style = "color:blue;" })
                    <input type="text" class="form-control form-control-user" id="Github" placeholder="Github link" name="Github">
                    @Html.ValidationMessageFor(c => c.Github)

                </div> <br />
                <div class="from-group">
                    @Html.LabelFor(c => c.Report, new { style = "color:blue;" })
                    <input type="text" class="form-control form-control-user" id="Report" placeholder="Report link" name="Report">
                    @Html.ValidationMessageFor(c => c.Report)

                </div> <br />
                <div class="from-group">
                    @Html.LabelFor(c => c.Youtube, new { style = "color:blue;" })
                    <input type="text" class="form-control form-control-user" id="Youtube" placeholder="Youtube link" name="Youtube">
                    @Html.ValidationMessageFor(c => c.Youtube)

                </div> <br />
                <div class="from-group">
                    @Html.LabelFor(c => c.ContactOfDeveloper, new { style = "color:blue;" })
                    <input type="text" class="form-control form-control-user" id="ContactOfDeveloper" placeholder="Contact No." name="ContactOfDeveloper">
                    @Html.ValidationMessageFor(c => c.ContactOfDeveloper)

                </div> <br />
                <br />
                <div class="from-group">
                    <input class="btn btn-primary btn-user btn-block" type="submit" value="Save" />
                </div>
                <div class="from-group">
                    @if (ViewBag.Message != null)
                    {
                        <h3>
                            <b>
                                @ViewBag.Message
                            </b>
                        </h3>
                    }
                    @if (ViewBag.imageStatus != null)
                    {
                        <h3>
                            <b>
                                @ViewBag.imageStatus
                            </b>
                        </h3>
                    }
                </div>
            }


            @*....................................................................................................*@

        </div>
        <div class="col-md-2">
        </div>
    </div>


    @section MyScript{
        <script src="~/Theme/vendor/jquery/jquery.min.js"></script>
        <script src="~/Theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/Theme/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="~/Theme/js/sb-admin-2.min.js"></script>
    }
