@using ProjectArcive_DIU.DatabaseContext.Migrations

@model ProjectArcive_DIU.Models.ProjectViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var project in Model.Projects)
{
    <div class="card">
        <div class="card-header">
            @project.Type
        </div>
        <div class="card-body">
            <h5 class="card-title">@project.Title</h5>
            <p class="card-text">Submitted by: @project.SubmittedBy</p>
            <p class="card-text">Supervised by: @project.SupervisedBy</p>
            @Html.ActionLink("View details", "Display", "Display", new { id = project.Id }, new { @class = "btn btn-primary" })
        </div>
    </div> <br /> <br />
}

@section MyScript{
    <script src="~/Theme/vendor/jquery/jquery.min.js"></script>
    <script src="~/Theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Theme/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Theme/js/sb-admin-2.min.js"></script>
}
